/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html,
body,
#root,
.app {
  font-family: 'Nunito Sans', sans-serif;
}

/* Light/Dark Theme colors */
html {
  --dark-mode-element: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --light-mode-element: hsl(0, 0%, 100%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --light-mode-text: hsl(200, 15%, 8%);
}

/* Global Parent */
.app-light {
  background-color: var(--light-mode-bg);
  height: 100vh;
}

.app-dark {
  background-color: var(--dark-mode-bg);
  height: 100vh;
}

/* NavBar */
.navbar-light {
  background-color: var(--light-mode-element);
  display: flex;
  justify-content: space-between;
  color: var(--light-mode-text);
}

.navbar-dark {
  background-color: var(--dark-mode-element);
  display: flex;
  justify-content: space-between;
  color: var(--dark-mode-text);
}

.navbar-light-text {
  color: var(--light-mode-text);
}

.navbar-dark-text {
  color: var(--dark-mode-text);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dark-mode-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
